---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: bebop
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      initContainers:
        - name: iptables-config
          image: alpine:latest
          command: ["/bin/sh", "-c"]
          securityContext:
            capabilities:
              add: ["NET_ADMIN"]
          args:
            - "apk add --no-cache iptables;
              iptables -t nat -I PREROUTING 1 -p tcp -m addrtype --dst-type LOCAL --dport 9000 -j REDIRECT --to-ports 45001"
      containers:
        - name: backend
          image: gandalfthewhite/cl-backend:latest
          securityContext:
            runAsUser: 1337
            runAsGroup: 1337
            runAsNonRoot: true
            allowPrivilegeEscalation: false
          ports:
            - containerPort: 9000
          args:
            - "9000"
            - "http://hls.bebop.lan:80"
        - name: proxy
          image: gandalfthewhite/cl-proxy:latest
          ports:
            - containerPort: 45001
          args:
            - "45001"
            - "127.0.0.1"
            - "9000"
            - "oracle"
            - "10000"
---
apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: bebop
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 9000
      targetPort: 9000
  type: ClusterIP
